.ant-space {
  display: inline;
}
.navtob {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
}
.butdel {
  width: 60px;
  background-color: #fff;
  border: 1px red solid;
  height: 30px;
  color: red;
}
.tabbox {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}
.ant-form {
  height: auto !important;
  background: #fff;
  padding: 20px;
  margin: 0 0 20px 0;
}
.yuan {
  border-radius: 50%;
  background-color: #0f0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  margin: 0 auto;
}
