.drawerImg {
  width: 100%;
  height: 56%;
  color: #888888;
  background: #f5f5f5;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  .image {
    width: 100%;
    height: 100%;
  }
}
.drawer_footer {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 10px;
  }
}
.drawer {
  p {
    display: flex;
    cursor: default;
    span {
      margin-right: 20%;
    }
  }
  .cpInput {
    width: 86%;
    height: 50px;
    cursor: copy;
  }
  .cpInput::selection {
    background: transparent;
    color: #000;
  }
  a {
    margin-left: 13%;
  }
}
