.login_box {
  width: 82%;
  height: 80%;
  display: flex;
  margin: 3% auto;

  .login_left {
    width: 48%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .login_right {
    width: 52%;
    background: #f7fafb;

    > div {
      width: 85%;
      height: 70%;
      background: #f7fafb;
      margin: 25% auto;

      Form {
        background: #f7fafb;
        padding-left: 0;

        button {
          width: 100%;
        }
      }
    }
  }
}
