.fileCard {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: 30px;
}
// 文件管理
.CardCom {
  cursor: pointer;
  width: 17.2rem;
  border: 1px solid #eee;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  .CardImg {
    color: #888888;
    width: 100%;
    height: 11.25rem;
    background: #f5f5f5;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// 知识小册的文件管理
.KnowCardCom {
  cursor: pointer;
  width: calc(17.2rem / 2);
  border: 1px solid #eee;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  .CardImg {
    color: #888888;
    width: 100%;
    height: 7rem;
    overflow: hidden;
    background: #f5f5f5;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.CardCom:hover,
.KnowCardCom:hover {
  transition: 0.3s;
  box-shadow: 0px 5px 15px #ccc;
}
.CardTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
.CardTime {
  padding: 0 10px;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
