.rightContext {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-around;
  right: 0;
  .person {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
