.accfrom {
  height: auto !important;
  background: #fff;
  padding: 20px;
  margin: 0 0 20px 0;
}
.butombt {
  width: 136px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.butom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  box-sizing: border-box;
}
.ant-col {
  width: 40px !important;
}
.search > div {
  width: 23%;
  display: flex;
  justify-content: right;
  margin-top: 10px;
  box-sizing: border-box;
}
.search {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-flow: wrap;
}
