.panel {
  background: #fff;
  margin: 22px;
  padding: 0 22px;
  .panelNav {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  #echartsBox {
    width: 1200px;
    height: 70%;
    padding: 22px 0;
  }
}
