.systemView_wrap {
  width: 49%;
  background: #fff;
  height: 283px;
  .ul {
    > li {
      height: 47px;
      border-bottom: 1px solid #f3f3f3;
      line-height: 47px;
      padding: 0 24px 0 24px;
    }
  }
}
