.latesArtiles {
  background: #fff;
  margin: 22px;

  .latesArtilesNav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding: 0 22px;
  }
  .latesArtiles_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .dl:hover {
      box-shadow: 0px 5px 15px #ccc;
      transition: 0.5s;
    }
    .dl {
      width: 33.3%;
      height: 220px;
      text-align: center;
      border-top: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;
      padding: 22px 0;
      margin-bottom: 0;

      > dd {
        margin-top: 5px;
      }
    }
  }
}
