.latestComments {
  background: #fff;
  margin: 22px;

  .latestCommentsNav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding: 0 22px;
  }

  .latestComments_table {
    padding: 22px 5px;
  }
  .table {
    display: flex;
    justify-content: end;
  }
}
.articleView {
  width: 330px;
  height: 500px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  > div {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > h1 {
      border-right: 1px solid #ccc;
      padding-right: 25px;
    }
    > span {
      padding-left: 25px;
    }
  }
}
