.color {
  display: flex;
  align-items: center;
  .green {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #52c41a;
    margin-right: 8px;
  }
  .orange {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #faad14;
    margin-right: 8px;
  }
}
.tableBox {
  background: #fff;
}
.actionTop {
  height: 32px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 16px;
  .actionRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    // margin-bottom: 20px;
  }
}

.usertablesss {
  background: #fff;
}
.userbutton {
  button {
    margin: 3px;
  }
}

.userform {
  height: 134px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.ant-table-content {
  background-color: red;
  margin-top: 20px;
}
