.color {
  display: flex;
  align-items: center;
  .green {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #52c41a;
    margin-right: 8px;
  }
  .orange {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #faad14;
    margin-right: 8px;
  }
}
.tableBox {
  background: #fff;
}
.comment_top {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  > div {
    Button {
      margin-right: 10px;
    }
  }
}
.found_box {
  width: 300px;
  height: 450px;
  line-height: 440px;
  span:nth-child(1) {
    font-size: 24px;
    margin-right: 20px;
  }
  span:nth-child(2) {
    width: 1px;
    height: 50px;
    display: inline-block;
    background: #ccc;
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }
  span:nth-child(3) {
    margin-left: 20px;
  }
}
