.card {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  padding: 0 15px;
  .img {
    width: 100%;
    height: 135px;
  }
}
.AddBox {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
}
.page {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 80px;
  align-items: center;
  padding-right: 15px;
}
