.personalData_wrap {
  width: 49%;
  background: #fff;
  .personalData-form {
    display: flex;
    flex-direction: column;
    .item {
      margin-top: 30px;
    }
  }
  .personalData-item_avatar {
    display: flex;
    justify-content: center;
    .personalData-avatar {
      display: flex;
      justify-content: center;
    }
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: center;
    }
  }
  .personalData-password-item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    height: 40px;
  }
}
