.fast {
  background: #fff;
  margin: 22px;
  padding: 0 22px;
  .fastNav {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  .navItem {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    > a {
      color: #000;
    }
  }
}
