.Detail {
  width: 100%;
  height: 100%;
  .Detailhead {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
    button{ 
      margin-left: 10px;
    }
    input{ 
      width: 90%;
    }
  }
  .Detailmain {
    height: calc(100% - 50px);
    width: calc(100% - 20vw);
    :global(.wmde-markdown-var) {
      height: 88vh !important;
    }
    :global(.w-md-editor-content) {
      height: 100% !important;
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 50px;
  width: 20vw;
  height: calc(100% - 50px);
  background: #fff;
}
