.tableWarp {
  padding: 24px 12px;
  background: #fff;
  .actionTop {
    height: 32px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 16px;
    .actionRight {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 10%;
    }
  }
}
