.btn_box {
  width: 100%;
  margin-top: 160px;
  border-top: 1px solid rgba(244, 244, 244, 1);
  display: flex;
  justify-content: right;
  Button {
    margin-top: 15px;
    margin-left: 10px;
  }
}
