* {
  list-style: none;
}
.system {
  width: 100%;
  height: 100%;
  background: #fff;

  // margin-left: -50px;
  ul {
    width: 100%;
    height: 100%;
    padding: 0 15px 0 0;
    li {
      line-height: 40px;
    }
  }
}
// #setform{
//     width:800px
// }
.systemlogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px 0 0;
}
.fileimg {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  img {
    height: 90px;
  }
}
#useupload {
  margin: 0 0 10px 530px;
}
