.footer {
  height: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
  }
}
