.tags {
  display: flex;
  flex-wrap: wrap;
  span {
    padding: 3px 10px;
    margin: 5px;
    border: 1px solid #d9d9d9;
    color: #8e8787;
    border-radius: 2px;
  }
  span:hover {
    background: #0188fb;
    color: #fff;
    cursor: pointer;
  }
}
.btns {
  display: flex;
  justify-content: space-between;
}
