.header {
  height: 180px;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  padding: 22px;
  border-top: 1px solid #f3f3f3;
  z-index: 100;
  > div {
    > h1 {
      font-weight: 800;
      font-size: 35px;
    }
  }
}
