* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out,
    opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
.logo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  > div {
    display: flex;
    justify-content: space-evenly;
    h2 {
      color: #fff;
    }
  }
}
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.allaticle {
  main {
    padding: 24px;
    display: flex;
    flex-direction: column;
    .ant-form {
      height: 130px;
      background: #fff;
      padding: 24px 12px;
      margin-bottom: 16px;
    }
  }
}
