.url {
  width: 150px;
  display: inline-block;
}
.navtob {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
}
.butdel {
  width: 60px;
  background-color: #fff;
  border: 1px red solid;
  height: 30px;
  color: red;
}
